body {
    margin-top: 50px;
    margin-left: 40px;
}

input#title {
    font-size: 2em;
    text-align: center;
    border:none;

}

input#description   {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 50px;
    border:none;
}

input.style {
    border:none;
}
input.style:focus{
    border:solid;
}
