body {
    margin-top: 50px;
    margin-left: 40px;
}

input#title {
    font-size: 2em;
    text-align: center;
}

input#description   {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 50px;
}

input{
    outline: none;
    border: 0;
    -webkit-appearance: none
}
